.slider-container img {
    height: calc(100vh - 64px);
    width: 100%;
    /* 64 px es la altura del header */
    object-fit: cover
}

.slick-next {
    right: 100px;
}

.slick-prev {
    left: 100px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
}

.slick-dots li button:before {
    font-size: 20px;
    line-height: 20px;
    color: white;
}

.slick-dots li.slick-active button:before {
    color: var(--color-accent);
}

.slick-slide img {
    margin-bottom: -7px;
}

.banner-caption {}

.banner-caption h5 {}